body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased; }

nav {
  width: 100%;
  height: 2em;
  margin: 0;
  padding: 0;
  font-size: 3em;
  line-height: 2em;
  text-align: center;
  border-bottom: 1px solid black; }

.homeContainer {
  width: 70%;
  height: 20em;
  margin: 0 auto; }
  .homeContainer .homeMsg {
    width: 100%;
    height: 12em;
    margin: 3em auto;
    font-size: 2em;
    text-align: center;
    line-height: 2em; }
  .homeContainer .countriesBtn {
    margin: -7em auto;
    display: block; }

.countriesTable {
  width: 90%;
  height: 37em;
  margin: 0 auto; }

button.homeBtn {
  margin: 1em auto;
  display: block; }

h1 {
  text-align: center;
  width: 100%; }

.countriesInfoContainer {
  width: 60em;
  height: 35em;
  margin: 0 auto;
  border-radius: 12px; }
  .countriesInfoContainer .countryDetails {
    width: 30em;
    height: 80%;
    float: right;
    font-size: 1.2em;
    padding-top: 2em;
    margin: 2em -5em 0em 0em; }
    .countriesInfoContainer .countryDetails .col-xs-6:first-child {
      text-align: right;
      width: 12em; }
    .countriesInfoContainer .countryDetails .col-xs-6:nth-child(2) {
      width: 18em; }
    .countriesInfoContainer .countryDetails .col-xs-6 {
      margin-top: 1em; }
    .countriesInfoContainer .countryDetails .neighbors {
      display: block;
      text-decoration: none; }
  .countriesInfoContainer input {
    display: inline-block; }
  .countriesInfoContainer .countryFlag,
  .countriesInfoContainer .countryMap {
    width: 20em;
    height: 15em;
    margin: 0em 2em 0em 5em; }

.infoHomeBtn {
  margin: 0em 0em 0em 40%; }

button.infoHomeBtn,
button.infoCountriesBtn {
  margin-bottom: 2em; }

.loading {
  position: relative;
  height: 100%; }

.loading:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.9) no-repeat center center;
  background-image: url("loading-animation.gif"); }

.animate.ng-enter,
.animate.ng-leave {
  transition: 1s linear all; }

.animate.ng-enter {
  opacity: 0; }

.animate.ng-enter.ng-enter-active {
  opacity: 1; }

.animate.ng-leave {
  opacity: 1; }

.animate.ng-leave.ng-leave-active {
  opacity: 0; }
