<h1 ng-model="country">
    {{country}}
</h1>
<div class="jumbotron countriesInfoContainer">
    <div class="container countryDetails">
        <div class="row">
            <div class="col-xs-6">Population of Country:</div>
            <div class="col-xs-6">{{details.population | number: 0}}</div>
        </div>
        <div class="row">
            <div class="col-xs-6">Area:</div>
            <div class="col-xs-6">{{details.area | number: 0}} square km</div>
        </div>
        <div class="row">
            <div class="col-xs-6">Capital:</div>
            <div class="col-xs-6">{{details.capital}}</div>
        </div>
        <div class="row">
            <div class="col-xs-6">Population of Capital:</div>
            <div class="col-xs-6">{{capitalPopulation | number: 0}}</div>
        </div>
        <div class="row">
            <div class="col-xs-6">Neighbors:</div>
            <div class="col-xs-6" ng-if="!noNeighbors"><a class="neighbors" ng-href="#!/countries/{{n.countryName}}/capital" ng-repeat="n in neighbors">{{n.countryName}}</a></div>
            <div class="col-xs-6" ng-if="noNeighbors">0</div>
        </div>
    </div>
    <img class="countryFlag" ng-src="http://www.geonames.org/flags/x/{{imgCountryCode}}.gif" />
    <img id='myImage' class="countryMap" src="http://www.geonames.org/img/country/250/{{countryCode.countryCode}}.png" />
</div>
<!-- <input class="infoHomeBtn" ng-click="go('/home')" type="button" value="Home">
</input>
<input class="infoCountriesBtn" ng-click="go('/countries')" type="button" value="Browse Countries">
</input> -->
<button ng-click="go('/home')" type="button" class=" infoHomeBtn btn btn-success">GO HOME</button>
<button ng-click="go('/countries')" type="button" class="btn btn-primary infoCountriesBtn">BROWSE COUNTRIES</button>
