<!-- <table class="countriesTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Country Code</th>
            <th>Capital</th>
            <th>Area</th>
            <th>Population</th>
            <th>Continent</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="country in countriesList">
            <td>{{country.countryName}}</td>
            <td>{{country.countryCode}}</td>
            <td>{{country.capital}}</td>
            <td>{{country.area}}</td>
            <td>{{country.population}}</td>
            <td>{{country.continent}}</td>
        </tr>
    </tbody>
</table> -->
<div ui-grid='gridOptions' class='countriesTable'></div>
<!-- <input class="homeBtn" ng-click="go('/home')" type="button" value="Go Home">
</input> -->
<button ng-click="go('/home')" type="button" class=" homeBtn btn btn-success">GO HOME</button>
